@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font: "Raleway", sans-serif;
    --white-color: #ffffff;
    --primary-color: #33a8db;
    --secondary-color: #1472b7;
    --third-color: #31a8dd;
    --black-color: #000000;
    --gradient: linear-gradient(#33a8db, #1472b7);
    --bg-gradient: linear-gradient(var(--third-color) 0%, var(--black-color) 60%);
    --logo-bg-color: #00000033;
    --button-gradient: linear-gradient(#3BA1CD, #1572B7);
    --modulo-bg-color: #252525;
    --modulo-shadow-color: #00000066;
    --footer-bg-gradient: linear-gradient(#33A8DB00, #33A8DB33, #33A8DB33);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: var(--white-color);
}

body {
    background-color: var(--black-color);
}

.banner {
    background-image: linear-gradient(#00000099, #31A8DD33, #00000099), url(../images/banner.png);
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 513px;

}

.logo {
    background: var(--logo-bg-color);
    height: 270px;
    width: 270px;
    margin: 0 auto;
    border-radius: 100%;
    padding: 16px;
}

h1 {
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-style: black;
    font-size: 40px;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.banner-content button {
    width: 326px;
    height: 60px;
    border-width: 2px;
    color: #31A8DD;
    text-transform: uppercase;
    font-size: 16px;
    background: transparent;
    font-weight: 900;
    letter-spacing: 21%;
    border-image: var(--button-gradient);
    border-image-slice: 10;

}

#course-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-content p {
    width: 780px;

}

h2 {
    color: #33A8DB;
    text-align: center;
    letter-spacing: 19%;
    font-size: 32px;
    text-transform: uppercase;
}

.modules-list span {
    color: #33A8DB;
}

.modules-list .module {
    text-align: center;
    width: 231px;
    height: 51px;
    background-color: var(--modulo-bg-color);
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.75) inset;
    border-radius: 300px;
    



}



img {
    display: block;
    margin: auto;
}

button {
    width: 200px;
}